@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
*{
  box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.header-right {
    display: none;
}

.navbar-item {
    color: #ffffff;
    padding: 10px;
}

.ipad img{
    border-radius: 2rem;
}

.navbar-item:hover {
    color: #58d5f7;
    text-decoration: none;
}

.hero-background {
    overflow: hidden;
    position: relative;
    background: -webkit-linear-gradient(110deg, rgb(81, 220, 230), rgb(216, 71, 99));
    background: linear-gradient(117deg, rgb(81, 220, 230), rgb(216, 71, 99));
    background: -webkit-radial-gradient(rgb(81, 220, 230), rgb(105, 86, 235));
    background: radial-gradient(rgb(81, 220, 230), rgb(0, 0, 0));
}

.bold {
    font-weight: 600;
}

.light {
    font-weight: 300;
}

.header {
    padding-top: 40px;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 999;
}

.logo {
    max-width: 100px;
    padding-left: 0;
    padding-top: 0px;
}

.header-btn {
    background-color: #0ABCEB;
    border-radius: 10px;
    border: #0ABCEB;
    float: right;
    width: 195px;
    height: 51px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: -10px;
}

.header-btn:hover {
    background-color: #58d5f7;
    color: white;
    border-radius: 20px;
    -webkit-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    -moz-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
}

.hero {
    position: relative;
    z-index: 999;
    padding-bottom: 60px;
}

.mouse {
    position: absolute;
    left: 0;
    right: 0;
    top: 85%;
    margin: auto;
    padding-bottom: 40px;
    text-align: center;
    cursor: pointer;
    transition: transform .4s ease;
}

.mouse:hover {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.macbook {
    margin: auto;
    padding-bottom: 35px;
}

.hero-right {
    color: #fff;
    text-align: center;
}

.hero-btn {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color:#6FC9DB;
    border-radius: 10px;
    border: 1px solid #6FC9DB;
    width: 210px;
    height: 51px;
    color: black;
    margin: 30px auto;
}

.hero-btn:hover {
    background-color: aqua;
    color: black;
    border-radius: 20px;
    -webkit-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    -moz-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
}

.header-headline {
    padding-top: 80px;
    padding-bottom: 0px;
    text-align: center;
    /* color: black; */
}

.header-running-text {
    text-align: center;
    padding-bottom: 35px;
    max-width: 287px;
    line-height: 1.5;
    margin: auto;
    /* color: black; */
}

.logos-section {
    background-color: #F9FAFA;
    text-align: center;
}

.logos {
    padding: 30px;
    max-width: 100%;
}

.features-section {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    padding-bottom: 90px;
    position: relative;
}

.features-headline {
    color: white;
    font-weight: 500;
}

.features-container {
    max-width: 900px;
    margin: auto;
}

.feature {
    text-align: center;
    padding: 30px;
}

.feature-no-display {
    opacity: 0;
    -webkit-transform: translateY(15%) translateZ(0);
    -moz-transform: translateY(15%) translateZ(0);
    transform: translateY(15%) translateZ(0);
    -webkit-transition: -webkit-transform 1s ease-out, opacity 1s ease;
    -moz-transition: -moz-transform 1s ease-out, opacity 1s ease;
    -o-transition: -o-transform 1s ease-out, opacity 1s ease;
    transition: transform 1s ease-out, opacity 1s ease;
}

.feature-display {
    opacity: 1;
    -webkit-transform: translateY(0) translateZ(0);
    -moz-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
}

.feature-display-mid {
    transition-delay: 0.25s;
}

.feature-display-last {
    transition-delay: 0.40s;
}

.feature-icon {
    background-color: aqua;
    border-radius: 50%;
    height: 5.625em;
    width: 5.625em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 4px 14px 28px #393939;
}

.feature-head-text {
    color: aqua;
    font-weight: 600;
    padding-top: 15px;
}

.feature-subtext {
    color: white;
    padding-top: 0;
}

.feature-img {
    max-width: 50%;
}

.white-section {
    max-width: 1400px;
    margin: auto;
    overflow: hidden;

}

.white-section-text {
    text-align: center;
} 

.imac-section-header {
    padding-bottom: 35px;
}

.imac-section-desc {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    max-width: 400px;
    margin: auto;
    padding-bottom: 40px;
}

.imac-screen {
    padding-top: 60px;
    padding-bottom: 40px;
}

.macbook {
    position: relative;
    z-index: 999;
}

.pricing-background {
    background-color: #F8F9F9;
}

.pricing-section-header {
    padding-top: 75px;
}

.pricing-section-sub {
    padding-top: 10px;
    color: grey;
}

.pricing-table {
    padding: 0 0 100px;
    max-width: 1050px;
    margin: auto;
}

.plan {
    text-align: center;
    max-width: 390px;
    margin: auto;
    height: 430px;
    padding: 36px 15px 45px;
    position: relative;
}

.mid-plan {
    text-align: center;
    max-width: 390px;
    margin: auto;
    height: 430px;
    padding: 36px 15px 45px;
    position: relative;
    box-shadow: 5px 8.7px 40px rgba(99, 117, 138, 0.3);
    border-radius: 7px;
}

ul {
    list-style-type: none;
}
.wedding-packs{
  text-align: center;
  margin-top: 50px;
  position: relative;
  bottom:-50px;
  left: 3px;
}
.plan li {
    position: relative;
}

.plan li::before, .mid-plan li:before {
    font-family: Material Icons;
    content: "check";
    color: #3aeb8c;
    position: absolute;
    left: -10px;
    position: relative;

}

.plan-title {
    font-size: 18px;
    padding-bottom: 5px;
}

.plan-cost {
    font-size: 45px;
}

.plan-cost::before {
    content: "LKR ";
}

.monthly {
    font-size: 12px;
    padding-bottom: 20px;
}

.plan-features {
    -webkit-padding-start: 0;
}

.plan-btn {
    background-color: #0ABCEB;
    border-radius: 10px;
    border: #0ABCEB;
    width: 164px;
    height: 51px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: block;
    padding: 15px;
    margin: auto;
    position: absolute;
    left: calc(50% - 82px);
    bottom: 50px;
}

.plan-btn:hover {
    background-color: #58d5f7;
    color: white;
    border-radius: 20px;
    -webkit-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    -moz-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
}

.team {
    padding-bottom: 50px;
    padding-top: 60px;
    display: none;
}

.team-container {
    text-align: center;
    margin: auto;
    max-width: 920px;
}

.team-section-header {
    padding-bottom: 90px;
}

.team-member {
    text-align: center;
    padding-bottom: 60px;
}

.team-member-position {
    color: #747474;
}

.team-member-text {
    padding-top: 25px;
}

.team-social-icon {
    padding: 7px;
}

.blue-section {
  background: radial-gradient(rgb(81, 220, 230), rgb(0, 0, 0));

    color: white;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
}

.blue-section-subtext {
    max-width: 200px;
    max-width: 250px;
    line-height: 22px;
    font-size: 15px;
    margin: auto;
}

.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #fff;
    width: 210px;
    height: 51px;
    color: #808080;
    margin-top: 20px;
    border: none;
}

.submit-btn {
    background-color: #25F18B;
    border-radius: 10px;
    color: #fff;
    height: 51px;
    width: 120px;
    margin-top: 20px;
    margin-left: 3px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.submit-btn:hover {
    background-color: #6affb4;
    color: white;
    border-radius: 20px;
    -webkit-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    -moz-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
}

#newsletter-spinner {
    display: none;
}

.email-form-div {
    max-width: 60px;
    margin: auto;
}

.footer {
    background-color: #464646;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}

.webscope-text {
    color: white;
    font-size: 12px;
    padding-right: 7px;
}

.webscope {
    text-align: center;
    margin-top: -5px;
}

.social-links {
    float: none;
    text-align: center;
    padding-top: 10px;
}

.social-link {
    margin-right: 15px;
}

.strips {
    position: absolute;
    max-width: 1280px;
}


/* preloader */
.preloader {
 min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: #0ff;
  font-size: 16px;
  font-weight: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  position: relative;
  color: black;
  font-size: 2.5rem;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  padding-top: 0.65rem;
  padding-left: 0.5rem;
  padding-right: 0.36rem;
  padding-bottom: 0.65rem;
}
.slash {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  transform-origin: center center;
  width: 0.15rem;
  height: 145%;
  background: aqua;
  z-index: 4;
  -webkit-animation: slash 6s ease-in infinite;
          animation: slash 6s ease-in infinite;
}
.slash:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 120%;
  background: #0ff;
  z-index: -1;
}
.slash:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:black;
}
.sides {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.sides .side {
  position: absolute;
  background: black;
}
.sides .side:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  -webkit-transform: translateX(-101%);
  transform: translateX(-101%);
  -webkit-animation: side-top ease 6s infinite;
          animation: side-top ease 6s infinite;
}
.sides .side:nth-child(2) {
  top: 0;
  right: 0;
  width: 0.15rem;
  height: 100%;
  -webkit-transform: translateY(-101%);
  transform: translateY(-101%);
  -webkit-animation: side-right ease 6s infinite;
          animation: side-right ease 6s infinite;
}
.sides .side:nth-child(3) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.15rem;
  -webkit-transform: translateX(101%);
  transform: translateX(101%);
  -webkit-animation: side-bottom ease 6s infinite;
          animation: side-bottom ease 6s infinite;
}
.sides .side:nth-child(4) {
  top: 0;
  left: 0;
  width: 0.15rem;
  height: 100%;
  -webkit-transform: translateY(101%);
  transform: translateY(101%);
  -webkit-animation: side-left ease 6s infinite;
          animation: side-left ease 6s infinite;
}
.text {
  position: relative;
}
.text--backing {
  opacity: 0;
}
.text--left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.text--left .inner {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation: text-left 6s ease-in-out infinite;
          animation: text-left 6s ease-in-out infinite;
}
.text--right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.text--right .inner {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
  -webkit-animation: text-right 6s ease-in-out infinite;
          animation: text-right 6s ease-in-out infinite;
}
@-webkit-keyframes slash {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@keyframes slash {
  0% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@-webkit-keyframes text-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  10% {
    -webkit-transform: translateX(0);
  }
  58% {
    -webkit-transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}
@keyframes text-left {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0);
  }
  58% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@-webkit-keyframes text-right {
  0% {
    -webkit-transform: translateX(-200%);
  }
  10% {
    -webkit-transform: translateX(-100%);
  }
  58% {
    -webkit-transform: translateX(-100%);
  }
  70% {
    -webkit-transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(-300%);
  }
}
@keyframes text-right {
  0% {
    transform: translateX(-200%);
  }
  10% {
    transform: translateX(-100%);
  }
  58% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@-webkit-keyframes side-top {
  0%, 14% {
    -webkit-transform: translateX(-101%);
  }
  24%, 55% {
    -webkit-transform: translateX(0);
  }
  65% {
    -webkit-transform: translateX(101%);
  }
  100% {
    -webkit-transform: translateX(101%);
  }
}
@keyframes side-top {
  0%, 14% {
    transform: translateX(-101%);
  }
  24%, 55% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(101%);
  }
}
@-webkit-keyframes side-right {
  0%, 14%, 23% {
    -webkit-transform: translateY(-101%);
  }
  30%, 62% {
    -webkit-transform: translateY(0);
  }
  72% {
    -webkit-transform: translateY(101%);
  }
  100% {
    -webkit-transform: translateY(101%);
  }
}
@keyframes side-right {
  0%, 14%, 23% {
    transform: translateY(-101%);
  }
  30%, 62% {
    transform: translateY(0);
  }
  72% {
    transform: translateY(101%);
  }
  100% {
    transform: translateY(101%);
  }
}
@-webkit-keyframes side-bottom {
  0%, 14%, 24%, 28% {
    -webkit-transform: translateX(101%);
  }
  37%, 70% {
    -webkit-transform: translateX(0);
  }
  79% {
    -webkit-transform: translateX(-101%);
  }
  100% {
    -webkit-transform: translateX(-101%);
  }
}
@keyframes side-bottom {
  0%, 14%, 24%, 28% {
    transform: translateX(101%);
  }
  37%, 70% {
    transform: translateX(0);
  }
  79% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(-101%);
  }
}
@-webkit-keyframes side-left {
  0%, 14%, 24%, 34%, 35% {
    -webkit-transform: translateY(101%);
  }
  44%, 79% {
    -webkit-transform: translateY(0);
  }
  86% {
    -webkit-transform: translateY(-101%);
  }
  100% {
    -webkit-transform: translateY(-101%);
  }
}
@keyframes side-left {
  0%, 14%, 24%, 34%, 35% {
    transform: translateY(101%);
  }
  44%, 79% {
    transform: translateY(0);
  }
  86% {
    transform: translateY(-101%);
  }
  100% {
    transform: translateY(-101%);
  }
}

.site-content
{
    display: none;
}

.show {
  display: block;
}

/*about us section*/

.about-us{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 50px;
}

.about-us h3{
  color: #d7f2fa;
}

.ball{
  background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  padding: 2.5rem;
  box-shadow: 5px 5px 10px rgba(99, 117, 138, 0.3);
  -webkit-box-shadow: 5px 5px 10px rgba(99, 117, 138, 0.3);
  margin: auto;
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255,255,255,0.8);
}

.ball h2{
  font-size: 50px;
  color: #ecfbff;
}

.ball h3{
  text-transform: uppercase;
  font-size: medium;
  color: #ecfbff;

}

.ball-off{
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
 
}
.ball-on{
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.5s;
}
.ball:hover h2{
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (min-width: 768px) {

  .about-us{
    flex-direction: row;
  }

}


/* Social and Mobile */

.social h3{
  background: rgba(255,255,255,0.8);
  color: skyblue;
  border-radius: 3rem;
  width: 150px;
  height: 40px;
  padding: 0.7rem;
  box-shadow: 5px 5px 10px rgba(99, 117, 138, 0.3);
  -webkit-box-shadow: 5px 5px 10px rgba(99, 117, 138, 0.3);

}

.social a{
  text-decoration: none;
}

.yt a{
  color: rgb(219, 90, 90);
}
.yt a:hover{
  color: rgb(212, 42, 42);
}
.in a{
  color: rgb(218, 175, 95);
}
.in a:hover{
  color: rgb(206, 141, 20);
}
.wt a{
  color: rgb(86, 179, 98);
}
.wt a:hover{
  color: rgb(36, 170, 59);
}

.social{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 200px;
  margin-right: 200px;
  padding: 5px;
  
}

.reach{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 10px;
  color: rgb(109, 109, 109);
  

}

.reach-bold{
  color: linear-gradient(to right bottom, rgba(255,255,255,0.8),rgba(255,255,255,0.5));
  font-weight: 600;
}

.phone{
  background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
  border-radius: 3rem;
  padding: 5px 30px 15px;
  box-shadow: 5px 5px 10px rgba(99, 117, 138, 0.3);
  -webkit-box-shadow: 5px 5px 10px rgba(99, 117, 138, 0.3);
  border-top: 1px solid rgba(255,255,255,0.8);
  border-left: 1px solid rgba(255,255,255,0.8);
  backdrop-filter: blur(5px);
}
.location{
  background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
  border-radius: 3rem;
  margin-top: 50px;
  padding: 5px 25px 5px;
  box-shadow: 5px 5px 10px rgba(99, 117, 138, 0.3);
  -webkit-box-shadow: 5px 5px 10px rgba(99, 117, 138, 0.3);
  border-top: 1px solid rgba(255,255,255,0.8);
  border-left: 1px solid rgba(255,255,255,0.8);
}

@media only screen and (min-width: 768px) {

  .social{
    flex-direction: row;
  }
.team{
display: block;
}
}